table {
    border-collapse: collapse;
    width: 20%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:hover {
    background-color: lightblue;
    cursor: pointer;
}